body,html,.backHome{
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
}
.backHome{
    position: relative;
    background:url('502.jpg') center no-repeat;
}
.backHome a{
    position: absolute;
    left: 44%;
    bottom: 12%;
    display: inline-block;
    width: 200px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    color: #fff;
    background:#2f49f4;
    text-decoration: none;
}