.iyunwen_about1{
  height:70px;
  border:none;
  background: url("../img/about/about_banner.png") 0% 0%/100% 100% no-repeat;
}
.iyunwen_about {
  width: 100%;
  height: 700px;
  margin-bottom: 70px;
  background: url("../img/about/about_banner.png") 0% 0%/100% 100% no-repeat;
}
.iyunwen_about .container .col-md-12 {
  width: 1200px;
  position: relative;
  text-align: center;
}
.iyunwen_about .container .col-md-12 .phone_about{
  display: none;
}
@keyframes rotation{
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotation{
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation{
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes rotation{
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
/* 转动齿轮 */
.iyunwen_about .container .col-md-12 .bigWheel{
  position: absolute;
  z-index:100;
  bottom: 88px;
  left: 214px;
  -webkit-transform: rotate(360deg);
  animation: rotation 10s linear infinite;
  -moz-animation: rotation 10s linear infinite;
  -webkit-animation: rotation 10s linear infinite;
  -o-animation: rotation 10s linear infinite;
}
.iyunwen_about .container .col-md-12 .smallWheel{
  position: absolute;
  z-index:100;
  bottom: 214px;
  left: 300px;
  -webkit-transform: rotate(360deg);
  animation: rotation 7s linear infinite;
  -moz-animation: rotation 7s linear infinite;
  -webkit-animation: rotation 7s linear infinite;
  -o-animation: rotation 7s linear infinite;
}
@keyframes rotationBlue{
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes rotationBlue{
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes rotationBlue{
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
@-o-keyframes rotationBlue{
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes rotationWhite{
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotationWhite{
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotationWhite{
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes rotationWhite{
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
.iyunwen_about .container .col-md-12 .blueSmallWheel{
  position: absolute;
  z-index:100;
  bottom: 60px;
  left: 524px;
  -webkit-transform: rotate(-360deg);
  animation: rotationBlue 8s linear infinite;
  -moz-animation: rotationBlue 8s linear infinite;
  -webkit-animation: rotationBlue 8s linear infinite;
  -o-animation: rotationBlue 8s linear infinite;
}
.iyunwen_about .container .col-md-12 .whiteSmallWheel{
  position: absolute;
  z-index:100;
  bottom: 104px;
  left: 566px;
  -webkit-transform: rotate(360deg);
  animation: rotationWhite 6s linear infinite;
  -moz-animation: rotationWhite 6s linear infinite;
  -webkit-animation: rotationWhite 6s linear infinite;
  -o-animation: rotationWhite 6s linear infinite;
}
/* 动圆 */
@keyframes scalecircle1{
  0% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }
  20% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
  }
  40% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.8;
  }
  60% {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    opacity: 0.5;
  }
  80% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes scalecircle1{
  0% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }
  20% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
  }
  40% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.8;
  }
  60% {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    opacity: 0.5;
  }
  80% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@-moz-keyframes scalecircle1{
  0% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }
  20% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
  }
  40% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.8;
  }
  60% {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    opacity: 0.5;
  }
  80% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@-o-keyframes scalecircle1{
  0% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }
  20% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
  }
  40% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.8;
  }
  60% {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    opacity: 0.5;
  }
  80% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
.iyunwen_about .container .col-md-12 .aniCircle{
  position: absolute;
  bottom: 21%;
  right: 24%;
}
.iyunwen_about .container .aniCircle .aniCircle1{
  margin-right: 38px;
  margin-bottom: 32px;
  -webkit-transform: scale(1);
  animation: scalecircle1 2s linear infinite;
  -moz-animation: scalecircle1 2s linear infinite;
  -webkit-animation: scalecircle1 2s linear infinite;
  -o-animation: scalecircle1 2s linear infinite;
}
.iyunwen_about .container .aniCircle .aniCircle2{
  margin-left: 6px;
  margin-bottom: 12px;
  -webkit-transform: scale(1);
  animation: scalecircle1 2s linear infinite;
  -moz-animation: scalecircle1 2s linear infinite;
  -webkit-animation: scalecircle1 2s linear infinite;
  -o-animation: scalecircle1 2s linear infinite;
}
.describe {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 80px;
}
.describe .col-md-12 {
  position: relative;
  height: 306px;
  float: inherit;
  margin: 10px auto 40px;
  box-shadow: 0 0 15px #ddd;
  font-size: 16px;
  color: #666;
}
.describe .col-md-12 .about {
  position: absolute;
  left: 0;
  top: 0;
}
.describe .col-md-12 .about p {
  color: #fff;
  font-size: 26px;
  position: absolute;
  width: 28%;
  left: 12%;
  font-weight: bold;
  top: 8%;
}
.describe .col-md-12 .aboutUl {
  padding: 60px 90px 66px 124px;
}
.describe .col-md-12 .aboutUl li {
  line-height: 34px;
}
.describe .col-md-12 .aboutUl li img {
  margin-right: 14px;
}
.describe .col-md-12 .productUl {
  padding: 66px 140px 66px 58px;
}
.describe .col-md-12 .productUl li {
  line-height: 34px;
}
.describe .col-md-12 .productUl li img {
  margin-right: 14px;
}
.describe .col-md-12 .product {
  position: absolute;
  right: -2px;
  top: 0;
}
.describe .col-md-12 .product p {
  color: #fff;
  font-size: 26px;
  position: absolute;
  width: 28%;
  right: 12%;
  font-weight: bold;
  top: 8%;
}
.describe .product_sev {
  height: 254px;
  margin: 10px auto 0;
}
.partner {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 80px;
  background: #f6f6f6;
}
.partner .container {
  width: 1280px;
}
.partner .container h2 {
  font-size: 33px;
  margin: 40px auto;
  text-align: center;
}
.partner .container h2 .line {
  width: 100px;
  height: 1px;
  margin: 20px auto;
  border-radius: 5px;
  border-top: 4px solid #2f96f4;
}
.partner .container .col-md-3 img {
  width: 100%;
  opacity: 0;
  transition: 0.4s cubic-bezier(0.4, 0, 1, 1);
}

.industry {
  height: auto;
  overflow: hidden;
  padding-bottom: 80px;
}
.industry .container h2 {
  font-size: 33px;
  margin: 40px auto;
  text-align: center;
}
.industry .container h2 .line {
  width: 100px;
  height: 1px;
  margin: 20px auto;
  border-radius: 5px;
  border-top: 4px solid #2f96f4;
}
.industry .container img {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.4s cubic-bezier(0.4, 0, 1, 1);
}

.technical {
  background: #03022C;
  height: auto;
  overflow: hidden;
  padding-bottom: 80px;
  color: #fff;
}
.technical .container h2 {
  font-size: 33px;
  margin: 40px auto;
  text-align: center;
  color: #fff !important;
}
.technical .container h2 .line {
  width: 100px;
  height: 1px;
  margin: 20px auto;
  border-radius: 5px;
  border-top: 4px solid #fff;
}
.technical .container .certificate p {
  width: 76%;
  font-size: 18px;
  line-height: 34px;
  margin-top: 160px;
}

.prize {
  height: auto;
  overflow: hidden;
  padding-bottom: 80px;
}
.prize .container {
  width: 1240px;
}
.prize .container h2 {
  font-size: 33px;
  margin: 40px auto;
  text-align: center;
}
.prize .container h2 .line {
  width: 100px;
  height: 1px;
  margin: 20px auto;
  border-radius: 5px;
  border-top: 4px solid #2f96f4;
}
.prize .container .row {
  width: 1170px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.prize .container .row .honor {
  position: relative;
  height: 354px;
  width: 2340px;
}
.prize .container .row .honor li {
  width: 376px;
  float: left;
  margin: 0 7px;
}
.prize .container .row .arrow {
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
.prize .container .row .leftArrow {
  left: 2%;
  top: 40%;
  opacity: 0.5;
}
.prize .container .row .rightArrow {
  right: 2%;
  top: 40%;
}

.recruit {
  height: 900px;
  background: #f6f6f6;
}
.recruit .container {
  width: 1280px;
}
.recruit .container h2 {
  font-size: 33px;
  margin: 40px auto;
  text-align: center;
}
.recruit .container h2 .line {
  width: 100px;
  height: 1px;
  margin: 20px auto;
  border-radius: 5px;
  border-top: 4px solid #2f96f4;
}
.recruit .container h2 p {
  color: #666;
  font-size: 16px;
}
.recruit .container .col-md-4 {
  position: relative;
  width: 30%;
  height: 540px;
  margin: 0 20px;
  box-shadow: 0 0 15px #ddd;
  background: #fff;
}
.recruit .container .col-md-4 h3 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
}
.recruit .container .col-md-4 dl {
  padding: 20px;
}
.recruit .container .col-md-4 dl dt {
  margin: 0 0 20px 0;
}
.recruit .container .col-md-4 dl dd {
  line-height: 26px;
}
.recruit .container .col-md-4 a {
  position: absolute;
  bottom: 6%;
  left: 14%;
  display: block;
  width: 266px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #2f96f4;
}
.recruit .container .morePosition {
  display: block;
  width: 200px;
  height: 46px;
  text-align: center;
  line-height: 46px;
  background: #2f96f4;
  color: #fff;
  border-radius: 5px;
  margin: 60px auto 0;
  font-size: 16px;
}
.recruit .container .morePosition:hover {
  color: #fff !important;
}

.join {
  height: 268px;
}
.join .container {
  width: 100%;
  padding: 0;
}
.join .container h2 {
  font-size: 33px;
  margin: 20px auto 0;
  padding-bottom: 10px;
  text-align: center;
}
.join .container .sonTitle {
  text-align: center;
  font-size: 16px;
  margin-bottom: 40px;
  color: #a2a2a2;
}
.join .container .row {
  text-align: center;
}
.join .container .row div {
  padding: 10px;
  color: #fff;
  font-size: 12px;
}
.join .container .row div .m-l-10 {
  margin-left: 10px;
}

.professionAni {
  animation: slideAni linear .7s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: slideAni linear .7s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: slideAni linear .7s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: slideAni linear .7s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: slideAni linear .7s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes slideAni {
  0% {
    opacity: 0;
    transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-moz-keyframes slideAni {
  0% {
    opacity: 0;
    transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-webkit-keyframes slideAni {
  0% {
    opacity: 0;
    transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-o-keyframes slideAni {
  0% {
    opacity: 0;
    transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@media (max-width: 480px) and (min-width:320px) {
  .iyunwen_about {
    height: 340px;
  }
  .iyunwen_about .container{
    height: 100%;
    padding: 0;
  }
  .iyunwen_about .container .col-md-12{
    margin-top: 10%;
    width: 100%;
    height: 90%;
    padding: 0;
  }
  .iyunwen_about .container .col-md-12 img{
    display: none;
  }
  .iyunwen_about .container .col-md-12 img.phone_about{
    width: 100%;
    height: 100%;
    display: block;
  }
  .technical{
    padding-bottom: 40px;
  }
  .partner .container,.prize .container,.recruit .container{
    width: 100%;
  }
  .describe .col-md-12{
    height: 340px;
  }
  .describe .product_sev{
    height: 230px;
  }
  .describe .col-md-12 .aboutUl{
    padding:4% 0 0 16%;
    font-size: 12px;
  }
  .describe .col-md-12 .aboutUl li,.describe .col-md-12 .productUl li {
    line-height: 24px;
  }
  .describe .col-md-12 .about p,.describe .col-md-12 .product p{
    font-size: 14px;
  }
  .describe .col-md-12 .about img,.describe .col-md-12 .product img{
    width: 60px;
  }
  .describe .col-md-12 .productUl{
    padding:4% 16% 0 2%;
    font-size: 12px;
  }
  .technical .container .certificate p{
    margin: 20px auto 0;
    font-size: 14px;
  }
  .technical .container .col-md-6 img{
    width: 100%;
    height: 100%;
  }
  .prize .container .row{
    width: 100%;
    margin-left: 0;
  }
  .recruit{
    height: 100%;
  }
  .recruit .col-md-12{
    height: auto;
    overflow: hidden;
  }
  .recruit .container .col-md-4{
    width: 100%;
    height: 540px;
    margin:0;
    margin-bottom: 20px;
    padding: 0;
  }
  .recruit .container .col-md-4 a{
    left: 8%;
    bottom: 4%;
  }
  .recruit .container .morePosition{
    margin: 0 auto 20px;
  }
  .join{
    height: auto;
    overflow: hidden;
  }
  .join .container .row div .m-l-10{
    display: block !important;
  }
}
@media (max-width:320px){
  .describe .col-md-12{
    height: 400px;
  }
  .describe .product_sev{
    height: 260px;
  }
  .recruit .container .col-md-4{
    height: 600px;
  }
  .recruit .container .col-md-4 a{
    width: 220px;
  }
  .join .container .row div .m-l-10{
    display: block !important;
  }
}