@charset "utf-8";

.MN_sideBar {
    background: #323544;
}
.MN_headCtn {
    background: #323544;
}
.MN_kfCtn a {
    color: #323544;
}
.MN_khCtn {
    background: #323544;
    border: 1px solid #323544;
}
.MN_yes {
    background: #323544;
}
.MN_khTriangle1, .MN_khTriangle2 {
    border-left-color: #323544;
}
.MN_gusList, .MN_relateList {
    color: #323544;
}
.MN_remainWordNum {
    color: #323544;
}
.MN_sendBtn {
    background: #323544;
}
.MN_accordionBtn_focus {
    color: #323544;
    background: #c1c9ee;
    border-left-color: #323544;
    border-right-color: #c1c9ee;
}
.MN_queListIndex {
    color: #323544;
}
.MN_commentBtn {
    background: #323544;
}








