@charset "utf-8";

.MN_sideBar {
    background: #445EAA;
}
.MN_headCtn {
    background: #445EAA;
}
.MN_kfCtn a {
    color: #445EAA;
}
.MN_khCtn {
    background: #445EAA;
    border: 1px solid #445EAA;
}
.MN_yes {
    background: #445EAA;
}
.MN_khTriangle1, .MN_khTriangle2 {
    border-left-color: #445EAA;
}
.MN_gusList, .MN_relateList {
    color: #445EAA;
}
.MN_remainWordNum {
    color: #445EAA;
}
.MN_sendBtn {
    background: #445EAA;
}
.MN_accordionBtn_focus {
    color: #445EAA;
    background: #d0dcfe;
    border-left-color: #445EAA;
    border-right-color: #d0dcfe;
}
.MN_queListIndex {
    color: #445EAA;
}
.MN_commentBtn {
    background: #445EAA;
}








